<div class="profile-container">
    <div class="">
        <div class="header-area">
            <div class="">
                <span (click)="gotoDashboard()" style="cursor: pointer;">
                    <mat-icon mat-list-icon class="chevron-button">
                        chevron_left
                    </mat-icon> 
                </span>
                <span class="heading ml-3"> Profile</span>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-md-5 left-section">
                <img class="avatar-img" src="https://tinyurl.com/2vqr3zpm" alt="">
            </div>
            <div class="col-md-7">
                <div>
                    <div class="label">First Name: </div>
                    <div class="details mt-2">Jhon</div>
                </div>
                <div class="mt-4">
                    <div class="label">Last Name: </div>
                    <div class="details mt-2">Dee</div>
                </div>
                <div class="mt-4">
                    <div class="label">Email: </div>
                    <div class="details mt-2">jhondee@citi.com</div>
                </div>
                <div class="mt-4">
                    <div class="label">role: </div>
                    <div class="details mt-2">Admin</div>
                </div>
                <div class="mt-4">
                    <div class="label">state id: </div>
                    <div class="details mt-2">13123231</div>
                </div>
            </div>
        </div>
    </div>
</div>