
mat-sidenav-container {
  height: 100%;
  .brand-logo{
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-left: 5px;
    .brand-yellow{
      color: orange;
    }
  }

  

  .mat-side-nav-area{
    width: 260px ;
    background-color: #00559e;
  }

  .active-link{
    .menu-item-area{
      background-color: orange;
      border-radius: 7px;
    }
  }

  .mat-side-nav-content-area{
    margin-left: 260px ;
  }

  

  mat-sidenav {
    mat-nav-list {
      .menu-item {
        margin-left: 8px;
        color: white;
        font-size: 16px;
        font-weight: 600;
      }
      .menu-item-area{
        display: flex;
        align-items: center;
        padding: 5px;
        .bi{
          color: white !important;
          font-size: 16px;
        }
      }

      .material-icons{
        color: white;
        font-size: 20px;
        padding-top: 4px;
      }

      .chevron-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
        color: white;
      }

      .chevron-button.rotated {
        transform: rotate(180deg);
      }
    }
  }
}

.collaped-sidenav{
  .mat-side-nav-area{
    width: 70px !important;
  }
  .mat-side-nav-content-area{
    margin-left: 70px !important;
  }
  .menu-item-area{
    padding: 6px 8px 5px 8px !important;
    border-radius: 10px;
  }
}

.divider{
  border-bottom: 1px solid #507ca8;
  padding-top: 7px;
}
.copy-rights{
  position: absolute;
    bottom: 16px;
    color: white;
    left: 26px;
    display: flex;
    align-items: center;
}





///
/// 
.mat-side-nav-content-area{
  .material-symbols-outlined {
    font-size: 28px;
    color: gray;
    border-right: 1px solid gray;
    padding: 0px 10px;
    margin-top: 10px;
  }
  
  .msg-icon{
    border-left: 1px solid gray; 
  }
  .dropdown-toggle{
    font-weight: 400;
  }
  .dropdown-item{
    cursor: pointer;
  }
}

.avatar-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}