<mat-sidenav-container autosize [class.collaped-sidenav]="!isExpanded">
  <mat-sidenav #sidenav mode="side" opened="isExpanded"  class="mat-side-nav-area">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <div class="d-flex mt-3">
          <div>
            <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
            </mat-icon>
          </div>
          <div class="brand-logo" *ngIf="isExpanded">
            <span>web</span><span class="brand-yellow">portal</span>
          </div>
        </div>
      </mat-list-item>

      <div *ngFor="let navItem of navList">
        <mat-list-item [routerLink]="navItem.navLink" class="mt-3" routerLinkActive="active-link">
          <div class="menu-item-area" [title]="navItem.navName">
           <div>
               <i class="material-icons">{{navItem.icon}}</i>
           </div>
           <div *ngIf="isExpanded">
             <span class="menu-item">{{navItem.navName}}</span>
           </div>
          </div>
          <div class="divider"></div>
         </mat-list-item>
      </div>
      <div class="copy-rights" *ngIf="isExpanded">
        <span class="material-icons me-1">
          copyright
        </span>
        2024 all rights reserved
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="mat-side-nav-content-area">
    <mat-toolbar>
      <h2>
        <img width="60" src="assets/citi_logo.png" alt="Citigroup_logo">
      </h2>        
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>