<div class="csv-table-container">
    <div class="d-flex pb-2 align-items-center">
        <div class="header">Physical Model</div>
        <div class="ms-auto">
            <button class="match-btn">Match</button>
        </div>
    </div>
    <div>
        <table class="table  table-bordered custom-table">
            <thead>
              <tr>
                <th>LOB</th>
                <th>Subject Area</th>
                <th>Database</th>
                <th>Table</th>
                <th>Column</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataSource; let i = index" [class.secondary-row]="i % 2 === 0">
                <td>{{ item.LOB }}</td>
                <td>{{ item['Subject Area'] }}</td>
                <td>{{ item.Database }}</td>
                <td>{{ item.Table }}</td>
                <td>{{ item.Column }}</td>
                <td>{{ item.Description }}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex pt-2">
        <div class="">
            <button class="save-btn">Save</button>
        </div>
        <div class="ms-auto">
            <button class="cancel-btn">Cancel</button>
        </div>
    </div>
</div>