<!-- <p>dashboard works!</p> -->
<input class="mt-3" type="file" #fileImportInput name="CSV File Upload" (change)="fileChangeListener($event)" accept=".csv">

<app-csv-table 
[customResults]="customResults"
[csvTableHeader1]="csvTableHeader1"
[csvTableData1]="csvTableData1"
></app-csv-table>

<!-- <table  class="mt-3 table table-hover">
    <thead>
        <tr>
        <th class="table-header" *ngFor="let columnHeader of csvTableHeader1">{{columnHeader}}</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let columnContent of csvTableData1">
            <td class="table-content" *ngFor="let content of columnContent">{{content}}</td>
        </tr>
    </tbody>
</table> -->