/* You can add global styles to this file, and also import other style files */
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import 'material-icons/iconfont/material-icons.css';
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* If using Emulated or Shadow DOM view encapsulation */
.custom-table {
    border-radius: 10px; /* Adjust the value as needed */
    overflow: hidden;
}

.custom-input {
    border: 2px solid #00559e !important;
}